/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.table-view {
    -fx-font-family: "Californian FB", "Book Antiqua";
}
.table-view .column-header-background .label{
/*    -fx-background-color: transparent; */
    -fx-font-weight:bold;
    -fx-font-size: 13px;
    -fx-text-fill: #111111;
}

.combo-box {
    -fx-font-family: "Californian FB", "Book Antiqua";
    -fx-font-size: 12px;
    
}

/* The main scrollbar **track** CSS class  */
.combo-box .scroll-bar:vertical .track, 
.table-view .scroll-bar:vertical .track
{
    -fx-background-color:rgba(255,255,255,.7);
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}

/* The increment and decrement button CSS class of scrollbar */
.combo-box .scroll-bar:horizontal .increment-button ,
.combo-box .scroll-bar:horizontal .decrement-button, 
.table-view .scroll-bar:vertical .decrement-button
{
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;

}

/* The increment and decrement button CSS class of scrollbar */

.combo-box .scroll-bar:vertical .increment-button ,
.combo-box .scroll-bar:vertical .decrement-button,
.table-view .scroll-bar:vertical .decrement-button
{

    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;

}

.combo-box .scroll-bar .increment-arrow,
.combo-box .scroll-bar .decrement-arrow, 
.table-view .scroll-bar .increment-arrow,
.table-view .scroll-bar .decrement-arrow
{
    -fx-shape: " "; 
    -fx-padding:0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.combo-box .scroll-bar:horizontal .thumb,
.combo-box .scroll-bar:vertical .thumb,
.table-view .scroll-bar:vertical .thumb
{
    -fx-background-color:#3a3b3c;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.table-view .scroll-bar:horizontal .increment-arrow,
.table-view .scroll-bar:horizontal .decrement-arrow,
.table-view .scroll-bar:horizontal .increment-button,
.table-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

